<!-- As a link -->
<nav class="navbar navbar-light"  [ngStyle]="{'background-color': '#98c14c', 'background': 'linear-gradient(\n'+
'90deg,rgba(152,193,76,1) 0%,rgba(103,184,91,1) 100%)'}">
  <div class="container-fluid">
    <span class="navbar-text">
      <p class="fs-4">Encurtador Url</p>
    </span>
  </div>
</nav>
<div class="row">
  <div class="col-sm-12">
    <h1></h1>
  </div>
</div>
<div class="container">
  <div class="row mb-4"></div>
  <div class="row">
    <div class="col-sm-12">
      <form [formGroup]="urlForm">
        <div class="container col-sm-6">
          <div class="row mb-3">
            <label for="url" class="form-label">Entre com a url</label>
            <input type="text" class="form-control" id="url" #urlOriginal
                   formControlName="urlOriginalControl">
            <div [ngClass]="campoInvalido ? 'campo-invalido': ''" [hidden]="!campoInvalido">
              *Por favor entre com a url.
            </div>
          </div>
          <div class="container col-sm-3">
            <button type="submit" class="btn btn-primary btn-lg"
                    (click)="onClick(urlOriginal.value)"
                    [ngStyle]="{'background-color': '#98c14c',
                    'background': 'linear-gradient(90deg,rgba(152,193,76,1) 0%,rgba(103,184,91,1) 100%)',
                    'border': 'none'}"
            >Encurtar</button>
          </div>
        </div>
      </form>
    </div>
    <div class="container col-sm-6">
      <div class="row mb-5"></div>
      <div class="container col-sm-4">
        <a class="link-success text-decoration-none fs-4" (click)="redirecionar(urlRetorno?.urlOriginal)">{{ urlRetorno?.novaUrl }}</a>
      </div>
    </div>
  </div>
</div>
